<div class="container1">
    <div class="title">
        <h1>Mahendra Singh Dhoni</h1>
    </div>
    <div class="description">
        <div class="image">
            <img src="{{msdhoni}}" alt="" width="690" height="536">
        </div>
        <div class="content">
            MS Dhoni is one of the 15 players who have been named in the India squad to play the ICC Cricket World Cup 2019 in England and Wales. MS Dhoni, who made his one-day international debut on 23-Dec-04, had played 341 ODI matches until the 2019 World Cup.
            In the 289 innings he batted in, he had scored a total of 10500 runs, having faced 11992 balls, at an average of 50.72 and a strike rate of 87.56. He was unbeaten in 82 of those innings. His highest score in an innings was 183*. He had 10
            centuries and 71 half-centuries to his name. In the bowling department, MS Dhoni had bowled 36 balls and taken 1 wicket while conceding a total of 31 runs. He had an average of 31 and an economy rate of 5.17 His best ODI bowling performance
            was 1/14. Teams:Chennai Super Kings, Asia XI, India, Indians, Jharkhand, Rising Pune Supergiant, India A.Ms Dhoni was chosen to lead India in first ever World T20 in 2007. He made his captaincy debut against Scotland but the match was washed
            off. Thereon, he led India to the ICC World Twenty 20 trophy in South Africa, with a victory over arch-rivals Pakistan in an intensely fought final on 24 September 2007, and became the second Indian captain to have won a World Cup in any form
            of cricket, after Kapil Dev.[citation needed] He was named as wicket keeper of the 'Team of the Tournament' by Cricinfo for the 2007 T20I World Cup.
        </div>
    </div>
</div>